@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  //background-image: linear-gradient(to right, #11396f 50%, #2185D2 80%, #11396f);
  background: #11396f;
  color: $lighter
}

html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}